/********   GENERAL INFO   ********/
*{
	box-sizing: border-box;
}

html{
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, button, nav ul{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
}

body{
	font-family: 'Lato', sans-serif; 
	font-size: 20px;
	font-weight: 300; 
	color: #000; 
}

/********   NAV   ********/

.nav-container{
	background-color: #09bcd3;
	height: 70px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}

nav{
	float:right;
	margin-top: 25px;
}

nav ul li{
	display: inline-block;
	float: left;
	overflow: auto;
	margin-right: 20px;
	padding: 0px 3px;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
}

.logo{
	float: left;
	height: 60px;
	width: 200px;
	margin-top: 10px;
}

/********   DASH PAGE   ********/
body{
	background-color: #F3f3f3;
}
h1{
	text-align: center;
	margin: 20px 0px; 
	font-size: 30px;
	letter-spacing: 1.5px;
}


/**   Toggle States   **/
.toggle-states{
	margin: 10px 10px;
	width: 20px;
	height: 200px;
	display: inline-block;
	float: left;
}
.toggle-states div img{
	width: 50px;
}
.toggle-states div{
	margin: 10px;
} 

/**   Graph   **/

/* position inputs */
input.field{
	display: inline;
	text-align: right;
}

#input-field{
	padding-left: 10px;
}



div .instructions{
/*	background-color: #fff;*/
	position: relative;
	width: 900px;
	height: 120px;
	display: inline-block;
	float: left;
	margin-left: 70px;
	text-align: center;
/*	color: #000;*/
/*	border-radius: 6px;
	border: 2px solid #09bcd3;*/
}
div .instructions p{
	font-size: 20px;
	margin: 10px;
	margin-bottom: 15px;
}
div .instructions p.subtext{
	font-size: 14px;
	margin: 10px;
}

/**   Graph   **/
.data-date{
	text-align: center;
	margin-top: 5px;
}
#bar-chart{
	background-color: #fff;
	position: relative;
	width: 900px;
/*	height: 500px;*/
	display: inline-block;
	float: left;
	margin-left: 70px;
	color: #000;
	border-radius: 6px;
	border: 2px solid #09bcd3;
}

/* #graph-area-bar{
 	background-color: #fff;
	position: relative;
	width: 900px;
	height: 500px;
	display: inline-block;
	float: left;
	margin-left: 70px;
	color: #000;
	border-radius: 6px;
	border: 2px solid #09bcd3;
 }*/

#bar-chart p{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#bar-chart svg rect{
	fill: #09bcd3;
}
.graph-area-bar svg{
	width: 100%;
	height: 100%;
}

svg text{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	fill: #000;
}

.axis{
	stroke: black;
	fill: none;
} /*changed this to stroke: 0px; and then it drew nothing, then did stroke: black; and it looks good */

/*.field{
	display: inline-block; 
	width: 240px; 
	text-align: right;
}
*/
#bar-chart svg g g rect {
	position: relative;
}

#bar-chart svg .rect g .containBar rect:hover{
	cursor: -webkit-zoom-grab;
/*	cursor: -webkit-zoom-grabbing;*/
	cursor: grab;
/*	fill: #fff;*/
}

div .key-container{
	width: 80px;
	height: 40px;
	background-color: rgba(45, 204, 6, 0.2);
	position: absolute;
	right:10px;
	top:100px;
}
div .key-container p{
	padding: 3px;
	font-size: 16px;
	color: rgba(0, 0, 0, 1);
}

div .key-container .key-square{
	width: 30px;
	height: 30px;
	background-color: #2dcc06;
	position: absolute;
	z-index: 1000000;
}
/*#bar-chart svg g g rect:before{
	content: ' ';
	position: absolute;
	display: block;
	height: 0;
	width: 100px;
	border: solid black 2px;
	color: black;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100000;
}

line {
	position: absolute;
	display: block;
	height: 5px;
	width: 100px;
	border: solid black 2px;
	color: black;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100000;
}*/
/**   Important Info   **/
.important-info{
	background-color: #A8A8A8;
	display: inline-block;
	margin: 20px 0px;
	height: 400px;
	width: 300px;
	color: white;
	border-radius: 6px;
}
.important-info button{
	text-transform: lowercase;
	background-color: rgba(255,255,255, .5);
	border: none;
	border-radius: 25px;
}
.important-info p{
	font-size: 18px;
}
.important-info h2{
	text-transform: lowercase;
	font-size: 24px;
	text-align: center;
}
.notes{
	padding: 10px;
	background-color: transparent;
	width: 250px;
}
.clearfix:after{
	display: table;
	content: '';
	clear: both;
}

/**   2nd Level Dash   **/

.calendar{
	background-color: #A8A8A8;
	width: 200px;
	height: 400px;
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 6px;
}
.breakdown{
	background-color: #A8A8A8;
	width: 300px;
	height: 400px;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 6px;
}
.placeholder{
	width: 92px;
	display: inline-block;
}


/**** MORE STYLING ****/
/*#gradient{
  /* background: -webkit-linear-gradient(#3d9fcd, #455ba5); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(#3d9fcd, #455ba5);  /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(#3d9fcd, #455ba5); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(#3d9fcd, #455ba5); /* Standard syntax */
/*}*/


/****     GRAPH INTERACTIONS     ****/

.overlay {
  fill: none;
  pointer-events: all;
}
.focus circle{
	fill: none;
	stroke: black;
} 

.line-style{
	fill: black;
	stroke: black;
}


/****	Slider    ****/

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}  

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}

/*   Slider - mine   */
.slider-container{
	width: 80%;
	margin: auto;
	margin-top: 1em; 
	margin-bottom: 0px;
} 

/*svg.line-graph text {
	cursor: default;
}

svg.line-graph .hover-line {
	stroke: #6E7B8B;
}

svg.line-graph .hide {
	opacity: 0;
}*/

/*.graph-area div{
  width: 60px;
  position: absolute;
  top: 0;
  height: 400px;
  background-color: black;
  transform: translateX(-50%);
  opacity: 0.2;
}*/
